/* Reset base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --gap: 20px;
    --n-collums: 3;
}



/*utilitys*/
ul{
    list-style: none;
}

.text-white{
    color: white;
}

body{
    margin: 0 auto;
    padding: 0 24px;
}


/*header*/

.header-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 20px 0px;
}

.header-title{
    flex-basis: 600px;
    flex-grow:1;
    text-align: left;
    font-size: 26px;
    padding-right: 30px;
}

.header-text{
    font-size: 18px;
}

.header-buttons{
    text-align: end;
    flex-basis: 200px;
    flex-grow: 1;
}

/*main*/

.cards-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
    text-align: center;
}


.card{
    flex-basis: calc(100% / var(--n-collums)-(var(--gap)*(var(--n-collums)-1)/var(--n-collums)));
    flex-grow: 1;
    flex-shrink: 0;
}